{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .image > img {
            width: 50%;
            margin-left: 25%;
        }

        .reviews {
            width: 100%;
        }

        .reviews > div {
            height: 45px;
            margin-bottom: 20px;
            background: #242b2e;
            padding: 10px;
        }



        .text {
            color: azure;
            font-size: 15px;
            font-family: sans-serif;
            margin-bottom: 10px;
        }

        .product {
            width: 70%;
            margin-left: 15%;
        }
    </style>
    <div class="product">
        <div class="image">
            <img src="/media/{{ product.image }}/" alt="">
        </div>
        <div>
            <div style="display:flex; justify-content: space-between">
                <h1>{{ product.title }}</h1>
            </div>
            <h5>{{ product.description }}</h5>
            <div>
                <p>{{ product.price }}</p>
            </div>

        </div>
    </div>
    <div class="create_view">
        <form action="/products/{{ product.id }}/" method="post" class="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Review">
        </form>
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div style="margin: 50px">
                <p class="text">{{ review.text }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}